.user_list {
    width: 350px;
    height: 300px;
    overflow-y: auto;
}

.search_form {
    display: flex;
    align-items: center;
    width: 350px;
    box-sizing: border-box;
    padding: 0 16px;
}

.left_action_button {
    position: absolute;
    left: 8px;
}

.spinner {
    position: absolute;
    right: 30px;
}
